<div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead" align="justify">Te esperamos este 07 de junio para que hagas parte  de la compe</p>
               
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="https://scontent-mia.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/524928_4694819326758_534967110_n.jpg?oh=852942bfe6a8820744a091c57d961ec3&oe=55DB45E0" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://scontent-mia.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/q81/p206x206/11188381_10205819344595239_196281184542851847_n.jpg?oh=e33815acc73e8f4f478df9ffd89ac2e7&oe=55DF097A" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11218503_10205819344635240_8759684392610790513_n.jpg?oh=3858aeb626b223e25030b57a117b4ecd&oe=55D5053D&__gda__=1440846591_f7c6f41a5d5155c4f08d4dbf9397ad0e" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10458838_10205822939525110_5190380600655108112_n.jpg?oh=dd2c9f6b115351d9f8d021ac41d572b0&oe=55DDA9AB&__gda__=1439225294_b5b4cc64043f3dfd6089eb307c22dcd4" alt="">
                            <div class="caption">
                                 <p align="justify">Contamos con bloques increíbles para que vengas a probarlos.</p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="https://scontent-atl.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11188381_10205819344595239_196281184542851847_n.jpg?oh=551b7f5df94418604ab76ed1c9e95fbc&oe=55DDD2BE" alt="">
                            <div class="caption">
                                <p align="justify">así es, té está esperando para que hagas tus mejores pegues. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10405619_10205822939605112_1023473352334498264_n.jpg?oh=364fe1073d4cfa5a96c8b62a53f61f41&oe=55DB5FEE&__gda__=1439147403_f3ddc7239323d375c148145050545626" alt="">
                            <div class="caption">
                                <p align="justify">Esté es uno de los bloques qué tiene el parque para qué vengas a escalar.</p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/11150666_10205822939565111_889859990884536644_n.jpg?oh=e3e0edbc26920f3815dfd73ca9b7e039&oe=55D0FEB7&__gda__=1440433806_297657750e324caedb780128adbe2347" alt="">
                            <div class="caption">
                                <p  align="justify">En tierras Muiscas existen retos inimaginables, ¡Ven por ellos!</p>
                            </div>
                            
                        </div>
                    </div>

                    
                <p align="justify"> En Nuestra Boyacá contamos con hermosos paraisos naturales, páramos, el lago de tota
                    y ádemas tenemos ciudades como Tunja: ciudad historica, su plaza de Bolivar fue declarada patrimonio cultural de Colombia, la tierra de la papita y del "Sumerce". Hoy queremos invitarlos a conocer el potencial "escaladorsistico" (Como decimos los escaladores de la región) . Ven a participar en el primer torneo de Boulder de Motavita.
                </div>

            </div>
        </div>



    </div>
    